<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>

  <body style="background: white">
    <div class="img-wrapper">
      <%= image_tag("sportsello-logo.jpg", class: "img centered") %>
    </div>

    <div class="notice">
      <h1>
      Our site is still in development, but feel free to
      <a href="/dev">take a look!</a>
      </h1>


      <div class="title para">
        <h1>
          Sportsello is a platform to connect sports fans with bars playing their games
        </h1>
        <h2>
          <i>
            To learn more, check out these links:
          </i>
        </h2>
        <h1>
          <a href="https://medium.com/sportsello"target="_blank">
            <i class="link fa fa-medium" aria-hidden="true"></i></a>

          <a href="https://github.com/amorriscode/sportsello " target="_blank">
            <i class="link fa fa-github" aria-hidden="true"></i></a>
        </h1>
      </div>
    </div>
  </body>
</html>
