<%= console %> 
<div id="home">

  <div class="nav navbar-nav" id="nav-bar">
    <nav-bar
      :user_id="user_id"
      :user_name="user_name"
      >
    </nav-bar>
  </div>

  <div class="vue-panel loader">
    <img src="/assets/loader.svg" alt="loading">
  </div>

  <transition name="component-slide" mode="out-in">
    <!-- render page here -->
    <component
      :is="view"
      :game_info="game_info">
    </component>
  </transition>


  <div class="app-container">
    <search-bar></search-bar>

    <div class="content">
      <div class="games">
        <game-box
          v-for="game in games_list"
          :id="game.id"
          :datetime="game.datetime"
          :sport="game.sport.name"
          :team1="game.team1.name"
          :team2="game.team2.name">
        </game-box>
    </div>
    </div>
  </div>

  <div class="bottom-loader">
    <img src="/assets/loader.svg" alt="loading">
  </div>

</div>
