<div class="container-fluid centered">
  <div id="map"></div>
</div>

<script type="text/javascript">
  let handler = Gmaps.build('Google');
  handler.buildMap({ internal: {id: 'map'} }, () => {
    // be aware chrome >= 50 requires https for geolocation to work
     if (navigator.geolocation) {
       navigator.geolocation.getCurrentPosition(displayOnMap);
     }
    markers = handler.addMarkers(<%=raw @venue_markers.to_json %>);
    handler.bounds.extendWith(markers);
  });



  function displayOnMap(position) {
    let marker = handler.addMarker({
      lat: position.coords.latitude,
      lng: position.coords.longitude
    });
    handler.map.centerOn(marker);
  };
</script>
