<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.16/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.6.1/lodash.js"></script>
  <%= javascript_include_tag('bundle.js') %>
</head>

<div class="container">
<body id="venue-map">
  <div style="width: 100%; height: 500px">
    <google-map
            :center="{lat: 1.38, lng: 103.8}"
            :zoom="12"
    >
      <ground-overlay
        source="./overlay.png"
        :bounds="{
            north: 1.502,
            south: 1.185,
            east: 104.0262,
            west: 103.5998,
        }"
        :opacity="0.5"
      >
      </ground-overlay>
    </google-map>
  </div>
  <script>
  // NOTE: Browserify lets us use require here
    const VueGoogleMap = require('vue-google-maps');
    VueGoogleMap.load({
        key: '<%= ENV['MAPS_KEY'] %>',
        v: '3.24',
    });
    Vue.component('google-map', VueGoogleMap.Map);
    new Vue({
        el: '#venue-map',
    });
  </script>
</body>
</div>
