<h1>Games</h1>

<!-- <div id="games" v-infinite-scroll="loadMore()" infinite-scroll-disabled="busy" infinite-scroll-distance="10"> -->
    <div id="games">
      <div class="game" v-for="game in games">
        <span v-text="game.sport.name"></span>
        <span v-text="game.team1.name"></span>
        <span v-text="game.team2.name"></span>
      </div>
    </div>

<!-- </div> -->
