<h1>Games</h1>

<div id="games">
  <table>
    <thead>
      <tr>
        <th>Sport</th>
        <th>Team 1</th>
        <th>Team 2</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="game in games">
        <td>{{ game.sport.name }}</td>
        <td>{{ game.team1.name }}</td>
        <td>{{ game.team2.name }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div id="infinite-scrolling">
  <%= will_paginate %>
</div>