<div id="games">
  <game-info></game-info>
  <game-box
    v-for="game in games"
    :datetime="game.datetime"
    :sport="game.sport.name"
    :team1="game.team1.name"
    :team2="game.team2.name">
  </game-box>
</div>
