/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
*/

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

$ui-dark-gray: #212225;
$ui-pale-gray: #5F5F60;
$ui-dark-blue: #363A44;
$ui-light-gray: #BCC4CA;
$ui-blue: #5A82A5;
$ui-dark-border: #191A1C;
$ui-light-border: #292A2E;

$brand-dark-red: #9f111b;
$brand-light-red: #b11623;
$brand-dark-blue: #292c37;
$brand-light-gray: #cccccc;

@mixin app-background-main {
  background: $ui-light-border;
  background-image: url("./bg-noise-main.png");
}

@mixin app-background-content {
  background: $ui-dark-gray;
  background-image: url("./bg-noise-content.png");
}

@mixin app-background-header {
  background: $brand-dark-red url("./bg-noise-header.png");
}

body {
  @include app-background-main;

  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  padding-top: 70px;
  color: white;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

a {
  color: $brand-dark-red;

  &:hover {
   color: $brand-light-red;
  }

  &:visited {
    color: $brand-light-red;
  }
}

#map {
  width: inherit;
  height: 308px;
}
.app-container {
  width: 75%;
  margin: 0 auto;

  .content, .sidebar {
    border: 1.5px solid $ui-dark-border;
  }

  .search-bar, .btn-search {
    height: 62px;
  }

  .search-bar-container {
    margin-bottom: 25px;
    position: relative;
    input {
      padding-right: 35px;
    }
  }
}

.btn-search {
  line-height: 62px;
  font-size: 15px;
  color: $ui-pale-gray;
  position: absolute;
  right: 12px;
  top: 0px;
}

.form-control:focus {
  border: 1px solid $brand-light-red;
  box-shadow: 0px 0px 10px $brand-light-red;
}

.navbar {
  @include app-background-header;

  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);

  border: 2px solid $brand-light-red;

  font-weight: 600;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 1);

  line-height: 50px;

  .btn-facebook {
    padding-left: 40px;
    margin-top: 8px;
  }
  a {
    color: white;
  }
  a:hover {
    color: $brand-light-gray;
    text-decoration: none;
  }
}

label,
.alt-text {
  color: $ui-pale-gray;
}

.game,
.event,
.box {
  @include app-background-content;

  overflow: auto;
  padding: 15px;

  border-top: 1px solid $ui-light-border;
  border-left: 2px solid $ui-light-border;
  border-right: 2px solid $ui-light-border;
  border-bottom: 2px solid $ui-dark-border;

  .vs,
  .at,
  .special-text {
    font-size: 3em;
    color: $brand-light-red;
  }
}

.game-selected {
  box-shadow: 0px 0px 30px $brand-light-red;
  background: $ui-dark-gray;
}

.game .btn-primary,
.event .btn-primary {
  position: absolute;
  top: 30px;
}

.box,
.invisible-box {
  padding: 30px;
}

.invisible-box {
  background: rgba(95, 95, 96, 0.1);
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $ui-light-border;
  margin: 1em 0;
  padding: 0;
}

.sidebar-box {
  @extend .box;
  padding: 15px;
}

.clickable:hover,
.games .game:hover {
  cursor: pointer;
}

.game-click {
  animation: highlight-game 0.4s ease;

  p {
    animation: highlight-no-bg 0.4s ease;
  }

  @keyframes highlight-game {
    50% {
      text-shadow: 0px 0px 1px $brand-light-red;
      color: $brand-light-red;
      background: $ui-dark-border;
    }
  }

  @keyframes highlight-no-bg {
    50% {
      text-shadow: 0px 0px 1px $brand-light-red;
      color: $brand-light-red;
    }
  }
}

.vue-panel {
  @include app-background-main;
  border: 2px solid $ui-dark-border;
  z-index: 5;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 50px;
  overflow: scroll;
  padding-top: 20px;

  .close-panel {
    color: white;
    font-size: 2.5em;
    margin-right: 15px;
    position: absolute;
    top: 0;
    right: 0;

    &:hover {
      color: $brand-light-gray;
    }
  }
}

.component-slide-enter, .component-slide-leave-active {
  transform: translateY(100vh);
}

.component-slide-enter-active {
  transition: transform .3s ease-out;
}

.component-slide-leave-active {
  transition: transform .3s ease-in;
}

.center {
  text-align: center;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-loader {
  display: flex;
  justify-content: center;
  height: 10%;
}

.section-header,
.sidebar-header {
  @include app-background-header;

  font-size: 20px;
  padding: 15px;
  color: white;
  border: 2px solid #b11623;
}

.btn-primary,
.btn-default {
  // background: $ui-dark-gray;
  @include app-background-header;
  border: 2px solid $brand-light-red;

  &:hover,
  &:focus,
  &:active {
    border: 2px solid $brand-light-red;
    box-shadow: 20px 20px 20px $brand-light-red;
  }

  &:active {
    @include app-background-main;
  }
}

.btn-social:hover {
  color: white;
}

.attendee-col p {
  font-size: 12px;
  position: relative;
  top: 70px;
}

.svg-logo {
  position: fixed;
  top: -210px;
  left: 0;
  width: 350px;
}

.scroll-to-top {
  opacity: 0;
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 25px;
  color: $brand-light-red;
  padding: 0 15px;
  transition: opacity 1s ease-out;
}
