/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
*/

@import "bootstrap-sprockets";
@import "bootstrap";
// @import "font-awesome-sprockets";
// @import "font-awesome";

$ui-dark-gray: #212225;
$ui-pale-gray: #5F5F60;
$ui-dark-blue: #363A44;
$ui-light-gray: #BCC4CA;
$ui-blue: #5A82A5;
$ui-dark-border: #191A1C;
$ui-light-border: #292A2E;

$brand-dark-red: #9f111b;
$brand-light-red: #b11623;
$brand-dark-blue: #292c37;
$brand-light-gray: #cccccc;

@mixin app-background-dark-gray {
  background: $ui-dark-gray;
  background-image: url("./bg-noise-dark-gray.png");
}

@mixin app-background-light-gray {
  background: $ui-dark-gray;
  background-image: url("./bg-noise-light-gray.png");
}

@mixin app-background-red {
  background: $brand-dark-red url("./bg-noise-red.png");
}

body {
  @include app-background-dark-gray;

  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  padding-top: 70px;
  color: $ui-light-gray;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);

  a {
    color: $brand-dark-red;
  }

  a:hover {
    color: $brand-light-red;
  }
}

.app-container {
  width: 50%;
  margin: 0 auto;
  border: 1px solid $ui-dark-border;
}

.navbar {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);

  background: rgba(95,95,96,1);
  background: -moz-linear-gradient(top, rgba(95,95,96,1) 0%, rgba(33,34,37,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(95,95,96,1)), color-stop(100%, rgba(33,34,37,1)));
  background: -webkit-linear-gradient(top, rgba(95,95,96,1) 0%, rgba(33,34,37,1) 100%);
  background: -o-linear-gradient(top, rgba(95,95,96,1) 0%, rgba(33,34,37,1) 100%);
  background: -ms-linear-gradient(top, rgba(95,95,96,1) 0%, rgba(33,34,37,1) 100%);
  background: linear-gradient(to bottom, rgba(95,95,96,1) 0%, rgba(33,34,37,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f5f60', endColorstr='#212225', GradientType=0 );

  border-top: 1px solid $ui-pale-gray;
  border-bottom: 1px solid $ui-dark-gray;

  font-weight: 600;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 1);

  line-height: 50px;

  .btn-facebook {
    padding-left: 40px;
    margin-top: 8px;
  }
  a {
    color: white;
  }
  a:hover {
    text-decoration: none;
  }
}

label,
.alt-text {
  color: $ui-pale-gray;
}

.game,
.event,
.box {
  @include app-background-light-gray;

  overflow: auto;
  padding: 15px;

  border-top: 1px solid $ui-light-border;
  border-left: 1px solid $ui-light-border;
  border-right: 1px solid $ui-light-border;
  border-bottom: 1px solid $ui-dark-border;

  .vs,
  .at,
  .special-text {
    font-size: 3em;
    color: $brand-light-red;
  }
}

.box {
  padding: 30px;
}

.clickable:hover,
.game:hover {
  cursor: pointer;
}

.game-click {
  animation: highlight-game 0.4s ease;

  p {
    animation: highlight-no-bg 0.4s ease;
  }

  @keyframes highlight-game {
    50% {
      text-shadow: 0px 0px 1px $brand-light-red;
      color: $brand-light-red;
      background: $ui-dark-border;
    }
  }

  @keyframes highlight-no-bg {
    50% {
      text-shadow: 0px 0px 1px $brand-light-red;
      color: $brand-light-red;
    }
  }
}

.vue-panel {
  @include app-background-dark-gray;
  border: 2px solid $ui-dark-border;
  z-index: 2;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 50px;
  overflow: scroll;
  padding-top: 20px;

  .close-panel {
    font-size: 2.5em;
    margin-right: 15px;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.component-slide-enter, .component-slide-leave-active {
  transform: translateY(100vh);
}

.component-slide-enter-active {
  transition: transform .3s ease-out;
}

.component-slide-leave-active {
  transition: transform .3s ease-in;
}

.center {
  text-align: center;
}

.btn-default {
  color: $ui-light-gray;
  border: 1px solid $ui-pale-gray;
  background-color: $ui-dark-gray;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-loader {
  display: flex;
  justify-content: center;
  height: 10%;
}

.section-header {
  @include app-background-red;

  font-size: 20px;
  padding: 15px;
  color: $ui-light-gray;
  border: 1px solid #b11623;
}

.attendee-col p {
  font-size: 12px;
}