/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
*/

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

$ui-dark-gray: #212225;
$ui-pale-gray: #5F5F60;
$ui-dark-blue: #363A44;
$ui-light-gray: #BCC4CA;
$ui-blue: #5A82A5;
$ui-dark-border: #191A1C;
$ui-light-border: #292A2E;

$brand-dark-red: #9f111b;
$brand-light-red: #b11623;
$brand-dark-blue: #292c37;
$brand-light-gray: #cccccc;

body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  padding-top: 70px;
  background: $ui-dark-gray url("./bg-noise.png");
  color: $ui-light-gray;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  width: 50%;
  margin: 0 auto;

  a {
    color: $brand-dark-red;
  }

  a:hover {
    color: $brand-light-red;
  }
}

.navbar {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);

  background: rgba(95,95,96,1);
  background: -moz-linear-gradient(top, rgba(95,95,96,1) 0%, rgba(51,51,51,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(95,95,96,1)), color-stop(100%, rgba(51,51,51,1)));
  background: -webkit-linear-gradient(top, rgba(95,95,96,1) 0%, rgba(51,51,51,1) 100%);
  background: -o-linear-gradient(top, rgba(95,95,96,1) 0%, rgba(51,51,51,1) 100%);
  background: -ms-linear-gradient(top, rgba(95,95,96,1) 0%, rgba(51,51,51,1) 100%);
  background: linear-gradient(to bottom, rgba(95,95,96,1) 0%, rgba(51,51,51,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f5f60', endColorstr='#333333', GradientType=0 );

  border-bottom: 1px solid $ui-pale-gray;

  font-weight: 600;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 1);

  line-height: 50px;

  .btn-facebook {
    padding-left: 40px;
    margin-top: 8px;
  }
  a {
    color: white;
  }
  a:hover {
    text-decoration: none;
  }
}

.alt-text {
  color: $ui-pale-gray;
}

#games {
  border: 1px solid $ui-dark-border;
  border-bottom: 0px;

  .game {
    overflow: auto;
    padding: 15px;

    border-top: 1px solid $ui-light-border;
    border-left: 1px solid $ui-light-border;
    border-right: 1px solid $ui-light-border;
    border-bottom: 1px solid $ui-dark-border;

    .vs {
      font-size: 3em;
      color: $brand-light-red;
    }
  }

  .game:last-of-type {
    border-bottom: 0px;
  }

  .game:hover {
    cursor: pointer;
  }

  .game-click,
  .game-click p {
    animation: highlight-game 0.4s ease;

    @keyframes highlight-game {
      50% {
        text-shadow: 0px 0px 1px $brand-light-red;
        color: $brand-light-red;
        background-color: $ui-dark-border;
      }
    }
  }
}
