// Place all the styles related to the landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$brand-dark-red: #9f111b;
$brand-light-red: #b11623;

html,body { height:100%; }


.img {
  max-width: 900px;
  height: 80%
}

.title {
  position: fixed;
  bottom: 0;
  font-family: sans-serif;
  font-color: red;
  background-color: red;
  font-size: 24px;
  width: 100%;
  text-align: center;
 }


.notice {
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 200px;
  color: black;
}

.para {
  background-color: $brand-light-red;
  padding: 10px 20px;
  height: 300;
}

.centered {
 position: fixed;
 top: 35%;
 left: 50%;
 transform: translate(-50%, -50%);
}

.link {
  color: white;
  padding: 0px 20px;
}
.link:hover {
  color:black;
}

.fa {
  font-size: 100px;
}
/* For Mobile */
@media only screen and (max-device-width: 480px) {

  .img {
    width: 90%;
    max-height: 50%;
  }

  h1 {
    font-size: 15px
   }
  h2 {
    font-size: 12px
  }
 }
