<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Sportsello</a>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <!-- We can put buttons here -->
      </ul>

        <span class="nav navbar-nav navbar-right">
          <div class="row" style="margin-right:60px">
          <% if current_user %>
          <button class="btn btn-info" onclick="window.location.href='/venues/new'">Register a bar!</button>
            <strong><%= current_user.name %></strong>
            | <%= link_to "SIGN OUT", signout_path, id: 'sign_out' %>
          </span>
          <% else %>
         <%= link_to "SIGN IN", new_session_path, id: 'sign_in' %> |
         <%= link_to "REGISTER", new_user_path, id: 'register' %>
          <% end %>
        </div>
    </div> <!-- End of #navbar -->
</nav>
