<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">

    <div class="navbar-header">
      <a class="navbar-brand" href="/">Sportsello</a>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <!-- We can put buttons here -->
      </ul>

        <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
            <strong><%= current_user.name %></strong>
            | <%= link_to "SIGN OUT", signout_path, id: 'sign_out' %>
          <% else %>
            <%= link_to "SIGN IN", "/auth/facebook", id: "sign_in" %>
          <% end %>
        </ul>

    </div> <!-- End of #navbar -->

  </div>
</nav>
