<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><object class="svg-logo" type="image/svg+xml" data="/assets/sportsello.svg"></object></a>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <!-- We can put buttons here -->
      </ul>

        <span class="nav navbar-nav navbar-right">
          <div class="row" style="margin-right:60px">
          <% if current_user %>
          <button class="btn btn-info" onclick="window.location.href='/venues/new'">Register a bar!</button>
            <strong><%= current_user.name %></strong>
            | <%= link_to "SIGN OUT", signout_path, id: 'sign_out' %>
          </span>
          <% else %>
            <a class="log-in clickable">SIGN IN</a> |
            <a class="register clickable">REGISTER</a>
          <% end %>
        </div>
    </div> <!-- End of #navbar -->
</nav>
